# Server configuration
PORT=3000
NODE_ENV=development

# Database configuration (Prisma)
# SQLite Option:
# DATABASE_URL="file:./dev.db"
# PostgreSQL Option (Recommended for Docker setup):
DATABASE_URL="postgresql://postgres:postgres@localhost:5435/hacklaton_db?schema=public"

# Redis configuration
REDIS_URL="redis://localhost:6379"
# Optional Redis Password if needed:
# REDIS_PASSWORD=""
